@import 'components/all';
@import 'fonts';
@import 'libs/normalise';



.wrapper{
    flex-wrap: wrap;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.container-calculator{
    max-width: 640px
}

.buttonGreen{  
    background-color: green;
    color: #ffffff;
    border-color: transparent;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}

.inputElo{
    background: none;
    border: none;
    text-align: center;
    outline: none;
}

.currStep{
    color: #746981 !important;
}

.currStepRow::after{
 
    position: relative;
    display: block;
    overflow: hidden;
    padding-top: 56.25%;
    background: url("../assets/img/row-right.png");
    background-size: cover;
    border-radius: 4px;
    
}


.aStyle{
    font-size: 11px;
    cursor: pointer;
    a:hover{
        border-bottom: 0.5px solid black;
        opacity: 0.8;
    }
}


.calculatorFaceit{
    margin-top: 80px;
    display: flex;
    justify-content: center;
  
    &__aside{
        background-color: snow;
        color: #C8CBD0;
        width: 200px;

        .stepBox{
            display: flex;
            flex-direction: column;
            //justify-content: space-between;
            height: 100%;
            font-size: 20px;
            &__stepNum{
                display: flex;
               //justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 100%;
                border-bottom: 1px dashed #d9d9d9;
                padding: 10px;
                .stepNumber{
                    font-size: 100px;
                }

                .stepContent{
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
                    &__title{
                        color: #878b92;
                    }
                    &__action{

                    }
                }
                
            }

        }
    }


    .calculator{
        display: flex;
        flex-direction: column;
        border: 1px solid #d2d2dd;
        

        &__elo_inputNum{
            display: flex;
            margin-bottom: 1em;
            @media (max-width: 740px) {
                flex-direction: column;
            }
            .inputNumBox{
                display: flex;
                flex-direction: column;
                flex: 0 0 50%;
                margin-top: 30px;
                &__title{
                    margin-bottom: 15px;
                    text-align: center;
                    span{

                    }

                }

                &__content{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0 1em 0 1em;
                }

                &__inputElo{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 170px;
                    height: 60px;
                    border-radius: 50px!important;
                    border: 2px solid;
                    border-color: #eaeaea;
                    background: #fafafa;
                    margin: 12px;

                &__inputElo:hover{
                    
                }
                    
                    .inputElo{
                        transform: translateX(10px);
                    }

                }

            }

        }

        &__elo_inputBarBox{
                display: flex;
                text-align: center;
                flex-direction: column;
                justify-content: center;
            
            //rc-slider style
            .progressEloBar{
                width: 400px;
                margin: 0 auto;
            }

        }

        &__elo_radio{
            margin-top: 50px;
            display: flex;
            justify-content: space-around;
            margin: 30px;
            .radioBox{
                display: flex;
                height: 30px;
                align-items: center;
                font-size: 0.8rem;
                margin: 15px;
                @media (max-width: 740px) {
                    font-size: 10px;
                }

                &__title{
                    margin-left: 10px;
                }

                &__procent{
                    margin-left: 5px;
                }

            }
        }

        &__elo_finalPrice{
            display: flex;
            justify-content: center;
            margin-bottom: 8px;

            .finalPriceBox{
                display: flex;

                &__title{

                }

                &__price{
                    margin-left: 5px;

                    h3{
                        color: green;
                    }
                }

            }

        }

        &__elo_buttonSection{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 4em;
            border-top: 1px solid #d2d2dd;
            margin-top: 20px;
            .buttonGreen{
                width: 15rem;  
                height: 2rem;  
            }
             .buttonGreen:active {
                width: 10rem;
                height: 1.5rem;
             }
        }

        &__authTitle{
            color: #746981;
            //change
            //max-width: 640px;
            min-width: 570px;
            h1{
                font-size: 35px;
                text-align: center;
            }
        }

        &__authFormBox{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            //padding: 20px 20px 0px 0px;
            margin-left: 20px;
            border-left: 3px solid #2980B9;
            margin-top: 20px;
            input, label{
                margin-top: 10px;
                margin-left: 10px;
            }
            span{
                color: #e74c3c;
            }


            .label{
                color: #656269;
                margin-left: 10px;
                font-size: 13px;
            }
        }

        &__createAccHref{
            border-left: 0px;
            display: inline-block;
            a{

            }
        }



    }

}


